/********************************************
                  Mobile 
********************************************/

/*****************Body*********************/
/*****************************************/

/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    background-color: white;
}

/*****************Header********************/
/*******************************************/
header{
    background-color: #EAC926;  
    width:100%;
    padding-top: 2rem; 
}

.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom:2rem;
}

.header_bottom{
    display: flex;
    align-items:center;
    margin-top:2rem;
    margin-bottom:.7rem;
    width:100%;
}

.header_bottom nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.bar-navegacion{
    display: none;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    list-style: none;
    width:40%; 
}

.link-nav{
    text-decoration: none;
    color:black;
}


#logo-mercadoliebre{
    width: 100%;
    max-width: 10rem;
}

.bar-busqueda{ 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 1.2rem;
    width: 40%;
}

.bar-busqueda input{
    width: 95%;
}

.cuotas-tarjetas{
    display: flex;
    align-items: center;
    justify-content:center; 
}


.menu-burger {
    padding-bottom: 0.5rem;
    width: 50%;
    text-align: center;
    margin:auto;
}

.menu-burger i{
    color: white;
    padding: 0.5rem;
    border-radius: 15%;
    background-color: #03264C;
}

/**************** main ******************/
/******************************************/
main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#register-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
    border: 2px solid #ebebeb;
    
    
}

#register-form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/**************** Footer ******************/
/******************************************/
footer{
    background-color: white;
    width: 100%;
}

.footer{ /*margin*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.seccion-footer{ 
    padding: 3rem 3rem;
    text-align: center;
    max-width: 25rem;
}

.fa-credit-card{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.fa-gift{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

.fa-user-shield{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

/**************** MEDIA QUERIES ******************/
/*************************************************/

/**************** TABLETS ******************/
/******************************************/
@media(min-width:361px){

    .header_bottom{ 
        display:flex;
    }

    .bar-navegacion{
        display: flex;
    }

    .menu-burger i{
        display: none;
    }


}

/**************** DESKTOP ******************/
/******************************************/
@media(min-width:769px){

    
}